<h2>Edit Category</h2>
  <form action="/admin/dashboard/edit-category/<%= category._id %>" method="POST">
    <input type="text" name="name" value="<%= category.name %>" class="form-control w-25" required>
    <button type="submit" class="btn btn-primary mt-2">Update Category</button>
  </form>
  <% if (message) { %>
    <p style="color:red"><%= message %></p>
  <% } %>